<h1>Welcome to the art gallery</h1>

<a href="/images/1">
<img src="/images/picture.jpg" width="200" height="300"/>
</a> 

<a href="/images/2">
    <img href="" src="/images/picture1.png" width="200" height="300"/>
</a>

<a href="/images/3">
    <img href="" src="/images/picture2.png" width="200" height="300"/>
</a> 
    